
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
}
.bodyContainer{
  padding: 1rem 12rem;
}

nav .navbar{
  width:100;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav .pageLink ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  }
nav .pageLink li{
  margin: 0 1rem;
}
nav .pageLink a{
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}